body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;
font-family: 'Tajawal', sans-serif;
}

code {
  font-family: 'Rubik', sans-serif;
  font-family: 'Tajawal', sans-serif;
}
section{
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: auto;
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Rubik', sans-serif;
  font-family: 'Tajawal', sans-serif;
}
p{
  line-height: 30px;
  color: #212121;
}
span{
  font-family: 'Rubik', sans-serif;
  font-family: 'Tajawal', sans-serif;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none !important;
}
li{
  list-style: none;
}
ul{
  margin: 0;
  padding: 0;
}